<form method="post" action="/register">
    <label for="username">Username</label> <br>
    <input type="text" name="username"> <br> <br>

    <label for="password">Password</label> <br>
    <input type="password" name="password"> <br> <br>

    <select name="role">
        <option value="">Select Role</option>
        <option value="SuperAdmin">Super Admin</option>
        <option value="PlayerUser">Player User</option>
    </select>
    <br><br>
    <button type="submit">Register</button>
</form>